img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

html, body {
	color: #d8d6d3;
	background-color: #1c1e1f;
}

#middle {
	flex-grow: 1;
}

#card_text {
	width: 100%;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	color: #ffaa44;
}

#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#container_middle {
	display: flex;
	flex-direction: row;
}

#left_btn {
	cursor: pointer;
	flex: 0 0 25%;
}

#right_btn {
	cursor: pointer;
	flex: 0 0 25%;
}

.btn_text {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

#card_img {
	height: 75vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
